<div id="navHeader">
    <table cellpadding="1" cellspacing="0" border="0">
        <tr>
            {% for location in [['/', "Home"], ['/linear', "Linear"], ['/parasite', "Parasite"], ['/more', "More"]] %}
            {% if current_page == location[1] %}
            <td>
                <input class="buttonText disabledButton" type="button" Value={{location[1]}} />
            </td>
            {% else %}
            <td>
                <input class="buttonText" type="button" onclick="location.href = '{{location[0]}}'" Value={{location[1]}} />
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>