<div class="pageButtons">
<table class="center" cellpadding="1" cellspacing="0" border="0">
    <tr>
        <td class="nav_button">
            {% block content1 %}
            {% if not first_panel %}
                <input type="button" onclick="location.href = '{{prev_panel}}'" Value="Previous panel"/>
            {% endif %}
            {% endblock content1 %}
        </td>

        <td class="nav_button">

            {% block content2 %}
            {% if not last_panel %}
                <input type="button" onclick="location.href = '{{next_panel}}'" Value="Next Panel"/>
            {% endif %}
            {% endblock content2 %}
        </td>
    </tr>
</table>
</div>