<div class="pageButtons">
<table class="center" cellpadding="1" cellspacing="0" border="0">
    <tr>
        <td class="nav_button">
            {% block prevbutton %}
            {% if not is_first_panel %}
                <input class="buttonText" type="button" onclick="location.href = '{{panel_num - 1}}'" Value="Previous panel"/>
            {% endif %}
            {% endblock prevbutton %}
        </td>

        <td class="nav_button">

            {% block nextbutton %}
            {% if not is_last_panel %}
                <input class="buttonText" type="button" onclick="location.href = '{{panel_num + 1}}'" Value="Next Panel"/>
            {% endif %}
            {% endblock nextbutton %}
        </td>
    </tr>
</table>
</div>